.row {
    padding: calc(var(--section-padding) / 2) 0;
    position: relative;
}

.stripe {
    border-bottom: 1px solid var(--text-primary-delta);
}

.buttonFixed {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}