.greeting {
	position: relative;
	width: 100%;
	height: clamp(2.5rem, 5vw, 5.5rem);
}

.title {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: clamp(2.5rem, 5vw, 5.5rem);
	line-height: 1;
}

@media screen and (max-width: 780px) {
	.title {
		top: calc(var(--vh, 1vh) * -4);
	}
}