.newsItem {
	list-style-type: none;
	border-bottom: 1px solid var(--text-primary-beta);
}

.newsItem a {
	display: block;
	padding: calc(var(--section-padding) / 3.5) 0 calc(var(--section-padding) / 3.5) 0;
	color: var(--text-primary-alpha);
}

.newsItem h3 {
	font-size: clamp(1.6rem, 3vw, 2rem);
	font-weight: 400;
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--gap-padding);
	width: 90%;
	padding-left: 1%;
}

.date {
	display: block;
	padding-top: calc(var(--section-padding) / 4);
	text-align: end;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 500;
	color: var(--text-primary-delta);
}

@media screen and (max-width: 780px) {
	.row:first-child {
		width: 100%;
	}
}