.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-beta);
    color: var(--text-primary-gamma);
    width: 100%;
}

.titleContainer {
    position: relative;
    padding-bottom: calc(var(--section-padding) / 2);
}

.arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding) / 2);
    transform: rotate(90deg);
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .8em;
    border-top: 1px solid var(--text-primary-delta);
    padding: 1.66em 2.75em;
}

.item span {
    color: var(--text-primary-gamma);
    position: absolute;
    left: 0;
    top: 2.8em;
    opacity: .33;
    font-size: .8em;
}

.input {
    color: var(--text-primary-gamma);
    background-color: var(--bg-primary-beta);
    border: none;
    outline: none;
    font-size: 1.2em;
    resize: none;
}

.input::placeholder {
    color: var(--text-primary-gamma);
}

.row {
    padding: calc(var(--section-padding) * 1.25) 0;
    position: relative;
}

.stripe {
    border-bottom: 1px solid var(--text-primary-delta);
}

.buttonFixed {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.button {
    position: relative;
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    background-color: var(--element-primary-gamma);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10000;
    width: 80%;
    height: 60%;
}