.section {
	width: 100%;
	max-width: 1440px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	padding-bottom: calc(var(--section-padding) / 2);
}

.titleContainer {
	width: 100%;
	border-bottom: 1px solid var(--text-primary-beta);
	padding-bottom: calc(var(--section-padding) / 4);
}

.title {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 500;
	color: var(--text-primary-delta);
}

.newsList {
	width: 100%;
	padding-bottom: calc(var(--section-padding) / 2);
}