.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    border-top: 1px solid var(--text-primary-delta);
    padding: 1.9em 2.75em;
}

.item span {
    color: var(--text-primary-gamma);
    position: absolute;
    left: 0;
    top: 2.98em;
    opacity: 0.33;
    font-size: 0.8em;
}

.item .error {
    position: static;
    color: #FFFF00;
    opacity: initial;
}

.item label {
    font-size: 1.5em;
}

.input {
    color: var(--text-primary-gamma);
    background-color: var(--bg-secondary-alpha);
    border: none;
    outline: none;
    font-size: 1.3em;
    resize: none;
}

.input::placeholder {
    color: var(--text-primary-gamma);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10000;
    width: 80%;
    height: 60%;
}

@media screen and (max-width: 780px) {
    .form .row {
        padding: calc(var(--section-padding) / 2) 0;
    }

}