.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-beta);
    color: var(--text-primary-gamma);
    width: 100%;
}

.titleContainer {
    position: relative;
    padding-bottom: calc(var(--section-padding) / 3);
}

.imageContainer {
    display: flex;
    gap: 15px;
}

.imageContainer img {
    object-fit: cover;
    min-width: clamp(2.5em, 4vw, 5em);
    height: clamp(2.5em, 4vw, 5em);
    border-radius: 50%;
    align-self: center;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding) / 2);
    transform: rotate(90deg);
    width: clamp(0.9em, 1.1vw, 1.1em);
}

@media screen and (max-width: 780px) {
    .arrow {
        top: 0;
    }

    .container {
        padding-bottom: calc(var(--section-padding) / 3);
    }
}
