.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-alpha);
    color: var(--text-primary-gamma);
    width: 100%;
}

.titleContainer {
    position: relative;
    padding-bottom: calc(var(--section-padding) / 2);
}

.imageContainer {
    display: flex;
    gap: 15px;
}

.imageContainer img {
    object-fit: cover;
    min-width: clamp(2.5em, 4vw, 5em);
    height: clamp(2.5em, 4vw, 5em);
    border-radius: 50%;
    align-self: center;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding) / 2);
    transform: rotate(90deg);
    width: clamp(0.9em, 1.1vw, 1.1em);
}

.row {
    display: flex;
    flex-direction: row;
}

.col:first-child {
    padding-right: calc(var(--gap-padding) * 4);
    width: 80%;
}

.col:last-child {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 20%;
}

.social ul {
    gap: calc(var(--gap-padding) / 1.8);
    flex-direction: column;
}

.social ul li {
    width: fit-content;
}

.links {
    display: flex;
    gap: calc(var(--gap-padding) / 1.8);
    flex-direction: column;
}

.link {
    list-style-type: none;
    width: fit-content;
}

@media screen and (max-width: 780px) {
    .container {
        padding-bottom: calc(var(--section-padding) / 2);
    }

    .row {
        flex-direction: column;
        gap: 2.5em;
    }

    .col:first-child {
        order: 2;
        width: 100%;
    }

    .col:last-child {
        order: 1;
        width: 100%;
    }
}