.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-alpha);
    color: var(--text-primary-gamma);
    width: 100%;
}

.container {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) /2);
    min-height: 100vh;
}

.titleContainer {
    position: relative;
    padding-bottom: calc(var(--section-padding) / 2);
}

.titleContainer span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.titleContainer img {
    min-width: clamp(2.4rem, 10vw, 4rem);
    height: clamp(2.4rem, 10vw, 4rem);
}

.arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding) * 1.1);
    transform: rotate(90deg);
    width: clamp(0.9em, 1.1vw, 1.1em);
}

.row {
    display: flex;
    flex-direction: row;
}

.col:first-child {
    padding-right: calc(var(--gap-padding) * 4);
    width: 80%;
}

.col:last-child {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 20%;
}

.social ul {
    gap: calc(var(--gap-padding) / 1.8);
    flex-direction: column;
}

.social ul li {
    width: fit-content;
}

.links {
    display: flex;
    gap: calc(var(--gap-padding) / 1.8);
    flex-direction: column;
}

.link {
    list-style-type: none;
    width: fit-content;
}

@media screen and (max-width: 780px) {

    .titleContainer {
        padding-bottom: calc(var(--section-padding) / 3);
    }

    .container {
        padding-top: calc(var(--section-padding) / 2);
        padding-bottom: calc(var(--section-padding) / 4);
    }

    .row {
        flex-direction: column;
        gap: 2.5em;
    }

    .col:first-child {
        order: 2;
        width: 100%;
        padding-right: 0;
    }

    .col:last-child {
        order: 1;
        width: 100%;
    }
}