.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 500;
  font-size: max(10em, 5vw);
  line-height: 1.1;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}