.hTag {
    font-size: clamp(2.2rem, 4.2vw, 3.8rem);
    line-height: 1.1;
    text-wrap: balance;
    font-weight: 400;
}

.h2 {
    font-size: clamp(2.2rem, 4.2vw, 3.8rem);
}

.h3 {
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.h4 {
    font-size: clamp(1.4rem, 2.3vw, 2.5rem);
}