.hTag {
    font-size: clamp(2.2rem, 9vw, 4.8rem);
    line-height: 1.1;
    text-wrap: balance;
    font-weight: 400;
}

.h2 {
    font-size: clamp(2.2rem, 9vw, 4.8rem);
}

.h3 {
    font-size: clamp(1.6rem, 8.5vw, 2.2rem);
}

.h4 {
    font-size: clamp(1.4rem, 8.5vw, 1.6rem);
}