.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.header.fillBlack {
    background-color: var(--bg-secondary-alpha);
}

.header.fillWhite {
    background-color: var(--bg-primary-gamma);
    color: var(--text-primary-alpha);
}

.headerHeight {
    display: flex;
    align-items: center;
    min-height: 110vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-primary-alpha);
    background-color: var(--bg-primary-gamma);
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 780px) {
    .headerHeight {
        min-height: calc(var(--vh, 1vh) * 110);
    }
}
