.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-padding);
    list-style-type: none;
}

@media screen and (max-width: 780px) {
    .links {
        gap: 14px;
    }
}