.list {
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: inherit;
    padding: var(--gap-padding) var(--gap-padding);
}

.link::after {
    content: '\2022';
    position: absolute;
    left: 50%;
    bottom: -35%;
    transform: translateX(-50%);
    color: inherit;
    opacity: 0;
    transition: opacity ease 0.2s;
    font-size: 30px;
    width: fit-content;
}

.link.active::after,
.link:hover::after {
    opacity: 1;
    left: 50%;
    bottom: -35%;
    transform: translateX(-50%);
}

.link.sidebarActive::after,
.link.sidebarActive:hover::after {
    line-height: inherit;
    font-size: inherit;
    opacity: 1;
    left: -10%;
    bottom: 0%;
    width: fit-content;
}

@media screen and (max-width: 780px) {
    .list {
        width: 100%;
    }

    .link {
        padding: calc(var(--gap-padding) / 2) calc(var(--gap-padding) / 2);
    }

    .link.sidebarActive::after,
    .link.sidebarActive:hover::after {
        left: 100%;
    }
}
