.link {
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.link a {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: inherit;
    padding: var(--gap-padding) var(--gap-padding);
}

.link a::after {
    content: '\2022';
    position: absolute;
    left: 0;
    bottom: -35%;
    color: inherit;
    opacity: 0;
    transition: all ease 0.5s;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.link a.active::after,
.link a:hover::after {
    opacity: 1;
    transform: scale(1);
    left: 0;
    bottom: -35%;
}

@media screen and (max-width: 780px) {
    .link a {
        padding: calc(var(--gap-padding) / 2) calc(var(--gap-padding) / 2);
    }
}