.link {
    position: relative;
    list-style: none;
    cursor: pointer;
    color: inherit;
    user-select: none;
}

.menu.link::after,
.link.active::after,
.link::after {
    content: '\2022';
    position: absolute;
    left: 50%;
    bottom: -40%;
    color: inherit;
    opacity: 0;
    transition: all ease 0.5s;
    font-size: 30px;
}

.menu.link::after,
.link.active::after,
.link:hover::after {
    opacity: 1;
    transform: scale(1);
}

.menu.link::after {
    left: -35%;
    top: 0%;
}

.link a {
    display: inline-block;
    font-weight: 400;
    color: inherit;
    padding: var(--gap-padding) var(--gap-padding);
}

@media screen and (max-width: 780px) {
    .link a {
        padding: calc(var(--gap-padding) / 2) calc(var(--gap-padding) / 2);
    }
}
