.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-gamma);
    color: var(--text-primary-alpha);
    width: 100%;
    position: relative;
    top: -1px;
}

.buttonRow {
    padding: calc(var(--section-padding) / 1.5) 0;
}

.logo {
    width: clamp(9rem, 10vw, 18rem);
    height: clamp(9rem, 10vw, 18rem);
}

.header {
    padding-top: calc(var(--section-padding));
    padding-bottom: calc(var(--section-padding) / 6);
}

.content {
    padding-top: 0;
    padding-right: calc(var(--gap-padding) * 2);
    padding-bottom: var(--section-padding);
    padding-left: calc(var(--gap-padding) * 2);
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: var(--section-padding);
}

.intro .col {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    position: relative;
}

.icon {
    width: clamp(1.6em, 2vw, 2.1em);
}

.icon.arrow g {
    stroke: var(--text-primary-alpha);
}

.intro .col .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.intro .col:first-child {
    width: 40%;
    padding-right: calc(var(--gap-padding) * 4);
    padding-left: calc(var(--gap-padding) * 4);
}

.intro .col:last-child {
    width: 60%;
    overflow: hidden;
}

.intro .col .img {
    min-height: 120%;
}

.img {
    width: 100%;
    object-fit: contain;
}

.special {
    opacity: 0.8;
    display: block;
    color: var(--text-primary-delta);
    font-weight: 500;
}

.outro .row {
    display: flex;
    flex-direction: row;
    gap: calc(var(--gap-padding) * 4);
    padding-top: calc(var(--section-padding) / 2);
}

.outro .row .col {
    width: 33.333%;
}

.outro .row .col p {
    padding-top: calc(var(--gap-padding) * 2);
}

.stripe {
    border-bottom: 1px solid var(--text-primary-delta);
    padding-bottom: calc(var(--gap-padding) * 2);
    margin-bottom: calc(var(--gap-padding) * 2);
}

.skitRoot {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-primary-gamma);
}

.skit {
    display: flex;
    flex-direction: row;
}

.skit .row {
    display: flex;
    flex-direction: row;
}

.skit .col {
    width: 50%;
}

.skit .col:last-child {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-padding) * 2);
    order: 2;
}

.skit .col:first-child {
    position: relative;
    overflow: hidden;
    padding-right: calc(var(--gap-padding) * 4);
    order: 1;
}

.skit .col:first-child .img {
    height: 140%;
}

@media screen and (max-width: 780px) {
    .header {
        padding-top: calc(var(--section-padding) / 2);
        padding-bottom: 0;
    }

    .content {
        padding-left: calc(var(--gap-padding) * 2);
        padding-bottom: calc(var(--section-padding) / 2);
    }

    .intro {
        padding-bottom: calc(var(--section-padding) / 2);
    }

    .outro .row {
        flex-direction: column;
        padding-top: calc(var(--section-padding) / 3);
        gap: calc(var(--gap-padding) * 2);
    }

    .skitContainer {
        padding-top: calc(var(--section-padding) / 2);
        padding-bottom: calc(var(--section-padding) / 10);
    }

    .skit .row {
        flex-direction: column;
    }

    .skit .col {
        width: 100%;
    }

    .skit .col:last-child {
        order: 1;
        padding-bottom: calc(var(--gap-padding) * 2);
    }

    .skit .col:first-child {
        padding-right: 0;
        order: 2;
    }

    .outro .row .col {
        width: 100%;
    }

    .outro .row .col p {
        padding-top: var(--gap-padding);
    }

    .intro .col:first-child,
    .intro .col:last-child {
        width: 100%;
    }

    .intro .col:first-child {
        padding-left: 0;
        padding-bottom: calc(var(--gap-padding) * 2);
        transform: unset !important;
    }

    .intro .col .icon {
        top: calc(var(--section-padding) / -3);
    }
}