.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 500;
    width: 100%;
    padding: var(--gap-padding) calc(var(--gap-padding) * 1.5);
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    font-weight: 500;
}

.logoFull {
    display: initial;
    max-width: 240px;
}

.logoAbb {
    display: none;
}

.nav li {
    cursor: pointer;
}

.menu {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav li.colorWhite::after,
.nav li.colorWhite {
    color: var(--text-primary-gamma);
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.routes {
    display: flex;
    gap: 10px;
}

.routes.visible {
    display: none;
}

@media screen and (max-width: 780px) {
    .nav {
        padding: calc(var(--gap-padding) * 1.5) calc(var(--gap-padding) * 1.5);
        height: 89px;
    }

    .logoFull {
        display: none;
    }

    .logoAbb {
        display: initial;
        max-width: 100px;
    }

    .routes.visible {
        display: flex;
    }

    .routes {
        display: none;
    }
}