.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 500;
	background: var(--bg-primary-beta);
}

.slideTop,
.slideBottom {
	width: 100%;
	position: absolute;
}

.slideTop {
	top: 0;
}

.slideBottom {
	bottom: 0;
}

.slideBottom::after,
.slideTop::after {
	content: '';
	width: 150%;
	position: absolute;
	background: var(--bg-primary-beta);
	height: 400%;
	left: 50%;
	border-radius: 50%;
}

.slideBottom::after {
	transform: translate(-50%, -50%);
}

.slideTop::after {
	transform: translate(-50%, -50%);
}