.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 500;
	background: var(--bg-primary-delta);
	bottom: 0;
}

.title {
	text-wrap: initial;
}

.slideTop,
.slideBottom {
	width: 100%;
	position: absolute;
}

.slideTop {
	top: 0;
}

.slideBottom {
	bottom: 0;
}

.slideTop::after,
.slideBottom::after {
	content: '';
	width: 150%;
	position: absolute;
	background: var(--bg-primary-delta);
	height: 400%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}


@media screen and (max-width: 780px) {
	.title {
		position: relative;
		bottom: calc(var(--vh, 1vh) * 4);
	}
}