.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--bg-primary-beta);
    z-index: 300;
    will-change: transform;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.nav {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--text-primary-delta);
}

.sidebarInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15vh 7.5vw 10vh 7.5vw;
    position: relative;
    will-change: transform;
}

.sidebarRounded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

.sidebarRounded::after {
    content: '';
    position: absolute;
    background: var(--bg-primary-beta);
    height: 140%;
    width: 200%;
    border-radius: 50%;
    transform: translate(0%, -15%);
}

.routes {
    margin-bottom: auto;
    border-top: 1px solid var(--text-primary-delta);
    padding: 5vh 0;
}

.routes span {
    display: block;
}

.link {
    position: relative;
    padding: 0;
    width: 100%;
    line-height: 1.4;
    font-size: calc(clamp(3.25em, 5vw, 4em) * 0.875);
}

.link::after {
    left: -10%;
    bottom: 0%;
    font-size: inherit;
}

.link:hover::after {
    line-height: inherit;
    font-size: inherit;
    opacity: 1;
    left: -10%;
    bottom: 0%;
    width: fit-content;
}

.overlay {
    position: absolute;
    z-index: 50;
}

.overlayActive {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .sidebar {
        width: 100%;
    }

    .link::after {
        left: 100%;
    }

    .link:hover::after {
        left: 100%;
    }
}