.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--bg-primary-beta);
    z-index: 300;
    will-change: transform;
}

.nav {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--text-primary-delta);
}

.sidebarInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15vh 7.5vw 10vh 7.5vw;
    position: relative;
    will-change: transform;
}

.routes {
    margin-bottom: auto;
    border-top: 1px solid var(--text-primary-delta);
    padding-top: 5vh;
}

.routes span {
    display: block;
}

.link {
    line-height: 1.4;
    font-size: calc(clamp(3.25em, 5vw, 4em) * 0.875);
}

.link a {
    padding: 0;
}

.link.active::after,
.link:hover::after {
    opacity: 1;
    transform: scale(1);
}

.link::after {
    left: 50%;
    bottom: 0;
    line-height: inherit;
    font-size: inherit;
}

.overlay {
    position: absolute;
    z-index: 50;
}

.overlayActive {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .sidebar {
        width: 100%;
    }

    .link::after {
        left: 90%;
    }
}
