.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-alpha);
    color: var(--text-primary-gamma);
    width: 100%;
}

.container {
    padding-bottom: calc(var(--gap-padding) * 2.5);
}

.titleContainer {
    position: relative;
}

.buttonRow {
    padding: calc(var(--section-padding) / 1.8) 0;
}

.titleContainer span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.titleContainer img {
    min-width: clamp(2.4rem, 10vw, 4.2rem);
    height: clamp(2.4rem, 10vw, 4.2rem);
}

.arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding) /3);
    transform: rotate(90deg);
    width: clamp(0.9em, 1.1vw, 1.1em);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.link {
    max-width: 18em;
}

@media screen and (max-width: 780px) {
    .container {
        padding-top: calc(var(--section-padding) / 1.2);
        padding-bottom: calc(var(--section-padding) / 3);
    }

    .buttonRow {
        padding: calc(var(--section-padding) / 1.6) 0;
    }

    .link {
        max-width: 100%;
    }
}