.overlay {
    position: absolute;
    top: -10%;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-alpha);
}

.banner {
    width: auto;
    height: 110%;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.arrow {
    width: clamp(1em, 3.1vw, 1.2em);
    position: absolute;
    top: -90px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10000;
    order: 1;
}

.name {
    display: flex;
    flex-direction: column;
    position: static;
    z-index: 10000;
    order: 2;
    padding-bottom: calc(var(--gap-padding) * 2);
}

.about .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 10000;
}

.about h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    font-size: clamp(1.6rem, 3vw, 2rem);
    line-height: 1.2;
    font-weight: 400;
    padding-right: calc(var(--gap-padding) * 2.5);
}

.label {
    display: flex;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    color: var(--text-primary-gamma);
}

.label .wrapper {
    position: absolute;
    left: 0;
    padding-left: calc(var(--gap-padding) * 1.5);
}

.label .wrapper p {
    display: inline-block;
    transition: all .6s ease;
    line-height: 1;
    font-weight: 500;
}

.label:hover .wrapper p {
    transform: translateX(10px);
}

.label .labelIcon {
    width: auto;
    height: 6.5em;
    fill: var(--element-primary-alpha);
}

@media screen and (max-width: 780px) {
    .about {
        position: static;
        order: 2;
    }

    .container {
        height: 98%;
    }

    .arrow {
        top: -40px;
    }

    .name {
        order: 1;
        padding-bottom: calc(var(--gap-padding) * 2);
    }

    .about h1 {
        padding-right: 0;
    }

    .label .labelIcon {
        height: 6em;
    }

}