:root {
  --bg-primary-alpha: #999d9e;
  --bg-primary-gamma: #ffffff;
  --bg-primary-beta: #1c1d20;

  --element-primary-alpha: #1c1d20;
  --element-primary-gamma: #455ce9;

  --text-primary-alpha: #1c1d20;
  --text-primary-gamma: #ffffff;
  --text-primary-beta: #b3b3b4;
  --text-primary-delta: #8e8e90;

  --section-padding: max(1.5em, 12vh);
  --gap-padding: clamp(0.8em, 4vw, 1em);
}
