:root {
    --bg-primary-alpha: #999d9e;
    --bg-primary-gamma: #ffffff;
    --bg-primary-beta: #1c1d20;
    --bg-primary-delta: #141415;

    --bg-secondary-alpha: #19191c;

    --element-primary-alpha: #19191c;
    --element-primary-gamma: #455ce9;
    --element-primary-beta: #334bd3;
    --element-primary-delta: #ffffff;

    --scroll-primary-alpha: #4b4d4e;

    --text-primary-alpha: #1c1d20;
    --text-primary-gamma: #ffffff;
    --text-primary-beta: #b3b3b4;
    --text-primary-delta: #797979;

    --section-padding: clamp(5rem, 20vh, 9rem);
    --gap-padding: clamp(0.8rem, 4vw, 1rem);
}