.container {
    display: flex;
    flex-direction: row;
    padding-bottom: calc(var(--section-padding) / 4);
}

.buttonFixed {
    right: 15%;
}

.col {
    position: relative;
}

.col:nth-child(1) {
    width: 70%;
    padding-right: calc(var(--gap-padding) * 2);
}

.col:nth-child(2) {
    width: 30%;
    padding-left: calc(var(--gap-padding) * 2);
}

.text {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.smallText {
    position: relative;
    overflow: hidden;
}

.smallTextInner {
    display: block;
    position: relative;
    line-height: 1.4;
}

.textInner {
    display: block;
    position: relative;
    font-size: clamp(1.4rem, 3vw, 2.6rem);
    line-height: 1.4;
}

@media screen and (max-width: 780px) {
    .container {
        flex-direction: column;
        padding-bottom: calc(var(--section-padding) / 3);
    }

    .col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }

    .col:nth-child(2) {
        width: 100%;
        padding: calc(var(--section-padding) / 6) 0 0 0;
        max-width: 30em;
    }
}
