.section {
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: calc(var(--section-padding) / 4);
}

.buttonFixed {
    z-index: 10000;
    right: 1%;
    top: unset;
}

.col {
    position: relative;
    z-index: 10000;
}

.col:nth-child(1) {
    width: 70%;
    padding-right: calc(var(--gap-padding) * 1.5);
    font-weight: 400;
}

.col:nth-child(2) {
    width: 30%;
    padding-left: calc(var(--gap-padding) * 1.5);
}

.text {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin-right: 3px;
}

.textInner {
    display: block;
    position: relative;
    font-size: clamp(1.6rem, 3vw, 2rem);
    line-height: 1.2;
}


@media screen and (max-width: 780px) {
    .container {
        flex-direction: column;
        padding-bottom: calc(var(--section-padding) / 3);
    }

    .col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }

    .col:nth-child(2) {
        width: 100%;
        padding: calc(var(--section-padding) / 6) 0 0 0;
        max-width: 30em;
    }
}